<div class="post-item">
  <div class="name-date">
    <div class="post-user"><%= message.user.name %>
    </div>
    <div class="post-date"><%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="post-comment"><%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>

